$color-primario: #fafd35;
$color-secundario: #0a0a04f8;
$color-terciario: #f5e940;
$color-texto: black;
$color-dorado: #ffd700;
$color-negro: #000000;
//Tamaños de fuente
$tamanio-fuente-h1: 50px;
$tamanio-fuente-h3: 40px;
$tamanio-fuente-p: 20px;
$tamanio-fuente-pie: 15px;
$tamanio-fuente-enlace: 16px;
$tamanio-fuente-pequenio: 8px;