
@use 'variables'; 
@use 'mixins';
h3 {
    font-size: variables.$tamanio-fuente-h3;
    @include mixins.center;
    text-align: center;
}

h1 {
    text-align: center;
    font-style: italic;
    color: rgba(255, 225, 58);
    font-size: variables.$tamanio-fuente-h1;
}

p {
    font-size: variables.$tamanio-fuente-p;
    color: variables.$color-texto;
}

.pie-de-pagina {
    font-size: variables.$tamanio-fuente-pie;
    list-style-type: upper-roman;
}
.menu {
    background-color: variables.$color-primario;
    flex-wrap: wrap;
}
.menu ul {
    @include mixins.center;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}



.menu ul li a {   
    text-decoration: none;
    color: white;
    color: variables.$color-texto;
    font-weight: bold;
    font-size: variables.$tamanio-fuente-enlace;
    transition: color 0.3s ease;
}

a:hover {
    color: gold;
}

.pie-de-pagina {
    background-color: variables.$color-primario;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pie-de-pagina ul {
    list-style-type: none ;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}

.pie-de-pagina li {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.pie-de-pagina a{
    text-decoration: none; 
    color: inherit; 
    transition: color 0.3s ease;
    &:hover {
        color: gold;
    }
}

.pie-de-pagina p {
    font-size: variables.$tamanio-fuente-pequenio;
}

.titulares {
    @include mixins.center;
    flex-direction: column;
    padding: 30px;
}

.titulares img {
    max-width: 100%;
}

body {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

#barra-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$color-primario;
    padding: 10px;
    z-index: 1000;

}
#barra-nav a {
    text-decoration: none; 
    color: inherit; 
    transition: color 0.3s ease;
    &:hover {
        color: gold;
    }
}
.boton {
    padding: 10px 20px;
    background-color: variables.$color-secundario;
    color: #fff;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-color: black;
    border-bottom-right-radius: 1px;
}

.titulares h1 {
    font-size: variables.$tamanio-fuente-h1;
}

.sectionTitular {
    background-color: variables.$color-terciario;
    padding: 0%;
    background-image: url(https://images.pond5.com/golden-awards-show-ceremony-background-088961339_prevstill.jpeg);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#cuerpo {
    background-color: rgb(250, 250, 184);
}